.con {
    width: 300px;
    height: 200px;
    background: url("../img/notWinning.png") no-repeat 0 0;
}
a{
    text-decoration: none;
    color:#666;
    transition:all 0.5s;
}
a:hover{
    color:red;  
}
.bottom{
    color:red;
}
